/* src/pages/Home.css */

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
}

.home-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.form-container {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-container input {
  display: block;
  width: 360px;
  height: 41px;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-container button {
  width: 360px;
  height:41px;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.form-container button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

footer {
  text-align: center;
  padding: 10px;
}

footer img {
  height: 40px;
}

footer p {
  font-size: 18px;
  color: #333;
}

