/* src/pages/Meeting.css */
.meeting-page {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Altura total da tela */
}

.header {
  flex: 0 0 auto; /* Header com altura fixa */
}

.meeting-container {
  flex: 1; /* Ocupa o restante do espaço */
  display: flex;
  height: 100%; /* Define a altura como 100% */
  background-color: rgb(255, 255, 255);
}
git add src/pages/Meeting.css
#jitsi-container {
  width: 100%;
  height: 90vh !important;
}

